<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerInclude :: head"></head>
<body>
<main class="wrapper">
    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>
    <div class="container">
        <div class=" col-md-8 help">
            <div class="row">
                <h1>Login</h1>
            </div>
            <form method="POST">
                <div class="row">
                    <div class="col-sm-12">
                        <label th:text="#{msg.login.username}">username</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="text" name="username" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label th:text="#{msg.login.password}">password</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="password" name="password" class="form-control">
                    </div>
                </div>
                <div style="text-align: center">
                    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
                    <input type="submit" class="btn btn-warning gumb" value="Login">
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>