<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headerInclude :: head"></head>
<body>
<main class="wrapper">
    <header th:replace="fragments/header :: header"></header>
    <br/>
    <div style="text-align: center;" sec:authorize="isAuthenticated()">
        <form method="POST" th:action="@{/logout}">
            <p><span th:text="#{msg.login.loggedIn}"></span><span> </span><span sec:authentication="name"></span></p>
            <input type="submit" value="Logout" class="btn btn-danger gumb">
        </form>
    </div>
    <br/>
    <div class="container" style="text-align: center">
        <h3 th:text="#{msg.search.name}">Naziv troška:</h3>
        <form action="/expenses/searchForExpenses">

                <input type="text" class="form-control" name="expenseName" th:placeholder="#{msg.search.name}">

                <span class="input-group-btn"><input type="submit" class="btn btn-primary" th:value="#{msg.btn.search}"></span>

        </form>
        <br>
        <div th:if="${not #lists.isEmpty(foundExpenses)}" style="overflow-x: auto;" class="col-md-12 help">
            <table class="table">
                <thead>
                <th th:text="#{msg.show.name}">Naziv troška</th>
                <th th:text="#{msg.show.date}">Datum unosa troška</th>
                <th th:text="#{msg.show.amount}">Iznos troška</th>
                <th th:text="#{msg.show.type}">Kategorija troška</th>
                </thead>
                <tbody>
                <tr th:each="expense : ${foundExpenses}">
                    <td th:text="${expense.expenseName}">Naziv troška</td>
                    <td th:text="${#temporals.format(expense.createDate, 'dd.MM.yyyy.')}">Datum unosa troška</td>
                    <td th:text="${expense.amount}">Iznos troška</td>
                    <td th:text="${expense.type}">Kategorija troška</td>
                </tr>
                </tbody>
            </table>
        </div>

        <p th:if="${#lists.isEmpty(foundExpenses)}" th:text="#{msg.search.notFound}">Nije pronađen ni jedan trošak!</p>


    </div>

    <div style="text-align: center">
        <button class="btn btn-warning gumb" style="color:black;"><a th:href="@{/expenses/new}" th:text="#{msg.btn.enterExpense}">Unesi novi trošak</a></button>
        <button class="btn btn-danger gumb"><a th:href="@{/expenses/resetWallet}" th:text="#{msg.btn.resetWallet}">Resetiraj novčanik</a></button>
    </div>
</main>
</body>
</html>