<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headerInclude :: head"></head>
<body>
<main class="wrapper">
    <header th:replace="fragments/header :: header"></header>
    <br/>
    <div style="text-align: center;" sec:authorize="isAuthenticated()">
        <form method="POST" th:action="@{/logout}">
            Ulogirani ste kao <span sec:authentication="name">Korisnik</span>.
            <input type="submit" value="Logout" class="btn btn-danger gumb">
        </form>
    </div>
    <br/>
    <div class="container" style="text-align: center">
        <h3>Naziv troška:</h3>
        <form action="/expenses/searchForExpenses">
            <div class="input-group center" style="padding-left:28%;">
                <input type="text" class="form-control col-md-6" name="expenseName" placeholder="Naziv troška">
                <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Pretraži"></span>
            </div>
        </form>
        <br>
        <div th:if="${not #lists.isEmpty(foundExpenses)}" style="overflow-x: auto;" class="col-md-12 help">
            <table class="table">
                <thead>
                <th>Naziv troška</th>
                <th>Datum unosa troška</th>
                <th>Iznos troška</th>
                <th>Kategorija troška</th>
                </thead>
                <tbody>
                <tr th:each="expense : ${foundExpenses}">
                    <td th:text="${expense.expenseName}">Naziv troška</td>
                    <td th:text="${#temporals.format(expense.createDate, 'dd.MM.yyyy.')}">Datum unosa troška</td>
                    <td th:text="${expense.amount}">Iznos troška</td>
                    <td th:text="${expense.type}">Kategorija troška</td>
                </tr>
                </tbody>
            </table>
        </div>

        <p th:if="${#lists.isEmpty(foundExpenses)}">Nije pronađen ni jedan trošak!</p>


    </div>

    <div style="text-align: center">
        <button class="btn btn-warning gumb" style="color:black;"><a th:href="@{/expenses/new}">Unesi novi trošak</a></button>
        <button class="btn btn-danger gumb"><a th:href="@{/expenses/resetWallet}">Resetiraj novčanik</a></button>
    </div>
</main>
</body>
</html>